#background {
  background-image: url("https://images-maxcdn.s3.us-east-2.amazonaws.com/bg_images/skyline_bg_1500x663.jpg");
  width: 100%;
  height: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 64%, 0 100%);
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  padding-bottom: 550px;
}

#background:after {
  background-color: #383838;
  opacity: 0.8;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 64%, 0 100%);
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}

#top_portion {
  position: relative;
  padding: 90px 20px 0px;
  color: white;
}

#top_portion img {
  margin: 0 30px 0 auto;
}

#top_portion p {
  color: white;
}

#top_portion button {
  margin-right: 5px;
}

.icon {
  width: 150px;
}

.icon_set {
  margin-top: 40px;
}

.icon_set img {
  max-width: 50px;
}

#top_portion .allied_logo {
  width: 200px;
}

.header_grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  column-gap: 60px;
  row-gap: 0px;
  padding: 60px;
  z-index: 1;
  z-index: 2;
}

.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }

.div1 h1 {
  font-size: 72px;
}

.div1 h1:after {
  display: block;
  content: "";
  height: 4px;
  width: 80px;
  margin: 10px 0px 0px;
  background-color: #b92a26;
}

.card {
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 15px;
  display: grid;
  position: relative;
}

.card img {
  max-width: 175px;
  width: 100%;
  margin: auto;
}

.card p {
  font-size: 14px;
  padding: 15px;
  letter-spacing: 1px;
  color: #6d6d6d;
  font-family: 'noto sans', Helvetica, sans-serif;
}

.card .rel > a {
  
}

.card .rel > a.buttons{
  top: 0;
  left: 0;
  right: 0;
}

/* .card p {
  padding: 15px;
  background-color: #dedede;
  border-radius: 10px;
  margin-top: -15px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
} */

/* .card .rel > a.red_buttons_small {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
} */

.red_buttons_small {
  font-size: 13px;
  color: white;
  background-color: #b93835;
  margin: 15px auto 30px;
  padding: 5px 30px;
  border-radius: 25px;
  display: block;
  width: 100px;
}

.red_buttons_small:hover {
  box-shadow: 0px 0px 5px 0px #555555;
  color: white;
}

.button_box {
  width: 100%;
}

.category_parent > [class^='col-'] {
  padding: 20px;
}

.title {
  text-align: center;
  width: 400px;
  color: white;
}

.description_t {
  font-size: 48px;
  color: #383838;
  font-family: 'roboto', Helvetica, sans-serif;
  line-height: 1;
  text-transform: uppercase;
}

.description_t:after {
  content: "";
  display: block;
  width: 100px;
  height: 5px;
  background-color: #b92a26;
  margin: 15px 0 0 auto;
}

.description_t > span {
  display: block;
  font-size: 24px;
}

.mw_1180 {
  max-width: 1180px;
}

.margin_bottom {
  margin-bottom: 1px solid black;
}

.fa-bars {
  font-size: 32px;
} 

.img_responsive {
  max-width: 50px;
}

.color_gray {
  color: #383838;
}

.buttons {
  display: block;
}

.buttons img:hover {
opacity: 80%;
}

.line {
  border-bottom: 1px solid #dadada;
  margin-bottom: 20px;
}

@media (max-width: 991px) {   
  #top_portion img {
    margin: auto;
    max-width: 350px;
  }
  .header_grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    column-gap: 0px;
    row-gap: 0px;
  }
  
  .div2 { grid-area: 1 / 1 / 2 / 2; }
  .div1 { grid-area: 2 / 1 / 3 / 2; }

  .div1 h1:after {
    margin: auto;
    margin-top: 10px;
  }

  #background {
    clip-path: unset;
  }

  #background:after {
    clip-path: unset;
  }

  * {
    text-align: center;
  }
}

@media (max-width: 470px) { 
  .header_grid {
    padding: 0px;
    grid-template-rows: 260px 1fr;
  }

  .header_grid img {
    max-width: 250px;
  }
}

/* @media (max-width: 360px) { 
  .header_grid {
    grid-template-rows: 250px 1fr;
  }
} */