#background {
  background-image: url("https://images-maxcdn.s3.us-east-2.amazonaws.com/bg_images/skyline_bg_1500x663.jpg");
  width: 100%;
  height: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 64%, 0 100%);
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  padding-bottom: 550px;
}

#background:after {
  background-color: #383838;
  opacity: 0.8;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 64%, 0 100%);
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}

#top_portion {
  position: relative;
  padding: 90px 20px 0px;
  color: white;
}

#top_portion img {
  margin: 0 30px 0 auto;
}

#top_portion p {
  color: white;
}

#top_portion button {
  margin-right: 5px;
}

.icon {
  width: 150px;
}

.icon_set img {
  max-width: 50px;
}

#top_portion .allied_logo {
  width: 200px;
}

.header_grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  column-gap: 60px;
  row-gap: 0px;
  padding: 60px;
  z-index: 1;
  z-index: 2;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}

.div2 {
  grid-area: 1 / 2 / 2 / 3;
}

.div1 h1 {
  font-size: 72px;
}

.div1 h1:after {
  display: block;
  content: "";
  height: 4px;
  width: 80px;
  margin: 10px 0px 0px;
  background-color: #b92a26;
}

.card {
  align-items: center;
  text-align: center;
  padding: 0 15px;
  display: grid;
  position: relative;
}

.card img {
  max-width: 175px;
  width: 100%;
  margin: auto;
}

.card p {
  font-size: 14px;
  padding: 15px;
  letter-spacing: 1px;
  color: #6d6d6d;
  font-family: 'noto sans', Helvetica, sans-serif;
}

.card .rel>a.buttons {
  top: 0;
  left: 0;
  right: 0;
}

.block_element {
  max-width: 350px;
  width: 100%;
}

.red_buttons_small {
  font-size: 13px;
  color: white;
  background-color: #b93835;
  margin: 15px auto 30px;
  padding: 5px 30px;
  border-radius: 25px;
  display: block;
  width: 100px;
}

.red_buttons_small:hover {
  box-shadow: 0px 0px 5px 0px #555555;
  color: white;
}

.button_box {
  width: 100%;
}

.category_parent>[class^='col-'] {
  padding: 20px;
}

.title {
  text-align: center;
  width: 400px;
  color: white;
}

.mw_1180 {
  max-width: 1180px;
}

.rearrange {
  text-align: right;
}

.margin_bottom {
  margin-bottom: 1px solid black;
}

.fa-bars {
  font-size: 32px;
}

.color_gray {
  color: #383838;
}

.buttons {
  display: block;
}

.buttons img:hover {
  opacity: 80%;
}

.line {
  border-bottom: 1px solid #dadada;
  margin-bottom: 20px;
}

.category_description {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.float_right {
  float: right;
}

.relative {
  position: relative;
  top: 45%;
}

.div2 img {
  margin: auto;
  max-width: 350px;
  display: block;
}

.div2 {
  justify-content: center;
}


.parent_container .content {
  padding: 0 30px;
}

.parent_container h2 {
  border-left: 4px solid #b92a26;
  line-height: .7;
  font-weight: 900;
  padding-left: 10px;
}

.parent_container span {
  margin-top: 8px;
  font-size: 24px;
}

.color_red {
  background-color: #b93835;
  width: 50px;
}

.first_set {
  border-right: 4px solid #b92a26;
  line-height: .7;
  font-weight: 900;
  padding-right: 10px;
}

.first_set span {
  margin-top: 8px;
  font-size: 24px;
}



@media (min-width: 992px) {

  .parent_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 0 auto;
  }

  .parent_container>.background_img {
    grid-area: 2 / 1 / 4 / 3;
  }

  .parent_container>.section1_content {
    grid-area: 1 / 1 / 3 / 2;
  }

  .parent_container>.section1_gui {
    grid-area: 1 / 2 / 3 / 3;
  }

  .parent_container>.section2_content {
    grid-area: 3 / 1 / 5 / 2;
  }

  .parent_container>.section2_gui {
    grid-area: 3 / 2 / 5 / 3;
  }


  .background_img {
    margin: 120px auto 0;
  }

  .section1_content {
    margin-top: 30px;
  }

  .section1_gui {
    margin-top: 30px;
  }

  .section2_content {
    margin-top: -90px;
  }

  .section2_gui {
    margin-top: -40px;
  }
}

@media (max-width: 991px) {

  .parent_container h2 {
    border-left: 0;
    padding-left: 0;
  }

  .first_set {
    border-right: 0;
    padding-right: 0;
    display: block;
    margin: auto;
  }

  .accent {
    width: 70px;
    border-bottom: 4px solid #b92a26;
    padding-bottom: 10px;
    margin: auto;
  }

  .parent {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .div2 img {
    margin: auto;
    max-width: 250px;
  }

  .header_grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    column-gap: 0px;
    row-gap: 0px;
  }

  .div2 {
    grid-area: 1 / 1 / 2 / 2;
  }

  .div1 {
    grid-area: 2 / 1 / 3 / 2;
  }

  .div1 h1:after {
    margin: 10px auto 0px;
  }

  #background {
    clip-path: unset;
  }

  #background:after {
    clip-path: unset;
  }

  * {
    text-align: center;
  }

  .space_right:after {
    width: 80px;
    height: 4px;
    margin: 15px auto 0;
  }

  .div1 h1 {
    font-size: 42px;
  }

  .parent_container>.section1_content {
    grid-area: 1 / 1 / 2 / 2;
  }

  .parent_container>.section1_gui {
    grid-area: 2 / 1 / 3 / 2;
  }

  .parent_container>.background_img {
    grid-area: 3 / 1 / 4 / 2;
  }

  .parent_container>.section2_content {
    grid-area: 4 / 1 / 5 / 2;
  }

  .parent_container>.section2_gui {
    grid-area: 5 / 1 / 6 / 2;
  }
}

@media (max-width: 770px) {}

@media (max-width: 470px) {
  .header_grid {
    padding: 0px;
    grid-template-rows: 260px 1fr;
  }

  .div1 h1 {
    font-size: 28px;
  }
}